.root{
    -fx-background-color: #EFEFEF;
}

.button{
    -fx-background-color: #003049;
    -fx-text-fill: #FFF;
    -fx-font: 14 system;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.scroll-pane {
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}